    <nav class="navbar navbar-light bg-light d-flex justify-content-between">
      <span class="navbar-brand mb-0 h1"><%= link_to 'Home', restaurants_path %></span>
      <span class="navbar-brand mb-0 h1"><%= link_to 'new Restaurant', new_restaurant_path %></span>
    </nav>
